<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BP_AppSettings_Key1" value="AppSettings_Value1" />
  </appSettings>
  <connectionStrings>
    <add name="BP_ConnectionStrings_Key1" connectionString="ConnectionStrings_Value1" />
  </connectionStrings>
  <foo>
    <bar baz="#{BP_Token1}"></bar>
  </foo>
  <qux>
  </qux>
</configuration>
